/* Tipos de Letras */
@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Old+Standard+TT:400italic|Roboto+Slab);
/*limpiar default css browser*/
* {
  margin:  0;
  padding: 0;
}

/*colores*/
body{
	background-color: #FE9A2E;
}
#principal{
	background-color: #FFFFFF;	
}

/*posiciones, largo y ancho*/
#principal{
	width: 96%;
	height: 94%;
	position: absolute;
	left: 2%;
	top: 3%;
}
#principal #imgArriba{
	width: 100%;
	height: 46%;
}
#principal #imgCentro{
	width: 12%;
	height: 25%;
	position: absolute;
	left: 43%;
	top: 33%;
}

/*figuras bordes */
#principal{
	border-radius: 2em 2em 2em 2em;	
}
#principal #imgArriba{
	border-radius: 2em 2em 0 0;
}
#principal #imgCentro{
	border-radius: 5em 5em 5em 5em;
}

/*fondos*/


/*tipo de fuentes tamaño */
.tipodeLetra{
	font-family: 'Lobster', cursive;
}

#nombre{
	text-align: center;
	font-size: 200%;
}	

/*
font-family: 'Old Standard TT', serif;

font-family: 'Roboto Slab', serif;
*/

/* 
habra cosas en cuales me base en algo o 
mire que a lo mejor 
le batañen en tonses pondre linck de videos
para que los miren 

https://www.youtube.com/watch?v=qJwIUaTlJdk

en considere que tengan que mirar
*/